---
// Definimos las propiedades (Props) que este componente va a recibir
const { titulo, texto } = Astro.props;
---

<div class="card">
  <h2>{titulo}</h2>
  <p>{texto}</p>
</div>

<style>
  .card {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  h2 {
    color: #333;
  }
</style>