---
const {title} = Astro.props;
import "../styles/global.css";
---
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{title}</title>
  </head>
  <body>
    <nav>
        <a href="/">Inicio</a> | <a href="/contacto">Contacto</a>
    </nav>
    
    <slot /> 
    
  </body>
</html>