---
const {title} = Astro.props;
import "../styles/global.css";
import RightSidebar from '../components/RightSidebar.astro';
---
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>{title}</title>
  </head>
  <body>
    <RightSidebar />
      <main>
        <slot /> </main>
  </body>
</html>